*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
}
.container{
    display: flex;
    height: 500px;
    width: 80%;
    border: 1px solid black;
    margin: auto;
    margin-top: 50px;
    box-shadow: 15px 15px 20px black;
}
.form{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    background-color: whitesmoke;
}
.form h6 {
    font-size: 1.5em; /* Adjust the font size as needed */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    align-items: center;
}
.input-container {
    position: relative;
    display: flex;
    align-items: center; /* Vertically align items within the container */
}

.box {
    padding: 12px;
    width: 100%; /* Make the input field take up all available space */
    margin: 15px;
    outline: none;
}

.forgot-password {
    position: absolute;
    right: 10px;
    text-decoration: none;
    color: #333;
}

#submit {
    padding: 12px 30px;
    width: 65%;
    margin-top: 40px;
    background-color: lightskyblue;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
}
#submit:hover{
    cursor: pointer;
}
.form a{
    text-decoration: none;
    color: black;
    margin-top: 20px;
}
.form a:hover{
    color: #fd4e4e;
}
.side {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    white-space: pre-line;
    width: 50%;
    background-color: lightskyblue;
}
.side img{
    width: 300px;
    height: 250px;
}
.line-break {
    white-space: pre-line;
}