@{
    Layout = null;
    ViewData["Title"] = "Login Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class="container">
        <form method="post" class="form">
            <h6>Good Day! Welcome Back</h6>
            <p>Enter your details</p>
            <input type="text" name="email" class="box" placeholder="Email Address">
            <div class="input-container">
                <input type="password" name="password" class="box" placeholder="Enter your Password">
                <a href="#" class="forgot-password">Forget Password?</a>
            </div>
            <input type="submit" value="Sign In" id="submit">
        </form>
        <div class="side">
            <img src="img/img.png" alt=""><br>
            <h6>Task Master Board</h6><br>
            <p>Your Comprehensive Task Management Solution for Personal and Professional Success</p>
        </div>
    </div>
</body>
</html>



