@{
    ViewData["Title"] = "Login Page";
}
<h1>@ViewData["Title"]</h1>
<img src="~/images/myimage.jpg" alt="My Image" />
<h1>Good Afternoon! Welcome Back</h1>
<p>Enter your details! Below Here</p>
<input type="email" placeholder="Email Address" />
<input type="password" placeholder="Password Forget Password" />
<button>Login</button>
<p>Don't have an account? <a>Signup Now</a></p>


