@{
    Layout = "_AppLayout";
    ViewData["Title"] = "Reports";
}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Reports</h1>
    </div>

    <!-- Content Row -->
    <div class="row">
        <!-- Content Column -->
        <div class="col-lg-12 mb-4">

            <!-- Project Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3 d-flex justify-content-between">
                    <h3 class="m-0 font-weight-bold text-primary">Enter Information</h3>
                    <a href="#" class="btn btn-primary btn-icon-split">
                        <i class="fa-regular fa-hand-back-point-left"></i>
                        Create new
                    </a>
                </div>
                <div class="card-body">

                </div>
            </div>
        </div>
    </div>
</div>